# template.env

# For now, matches the local version
# Database
PGHOST=db
PGPORT=5432
PGDATABASE=papirates-dev
PGUSER=papirates-user-dev
PGPASSWORD=papirates-dev-p@ssw0rd
TEST_DB_NAME=papirates-test

# Server
SECRET_KEY_BASE=1811fb5d050b56...
SERVER_HOST=0.0.0.0
SERVER_PORT=8000